<div class="job_posts">
  <% job_postings.each do |posting| %>
    <div class="media">
      <div class="media-left">
        <% if posting.logo.blank? %>
          <div class="card-img-top color-box" style="background:#<%= posting.random_color %>;"><%= posting.company_initials %></div>
        <% else %>
          <img class="card-img-top" src="<%= posting.logo %>" alt="Card image cap">
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to posting.title, view_post_path(posting) %>
          <br>
          <small>
            <%= posting.company %> | <%= local_time(posting.publish_date, '%B %e, %Y') %> | <%= link_to "View Post On #{posting.job_board}", posting.url, target:"_blank" %>
          </small>
        </h4>
        <%= truncate(posting.description_formatted, length: 300) %>
        <div class='save-job-action'>
          <% if current_user && current_user.job_postings.include?(posting) %>
            <%= form_tag("/remove_job/#{posting.id}") do -%>
              <div><%= submit_tag 'Remove Job', class: 'btn btn-danger' %></div>
            <% end -%>
          <% else %>
            <%= form_tag("/save_job/#{posting.id}") do -%>
              <div><%= image_submit_tag('saveJobTape.jpg', alt: 'Save Job', class: 'save-img') %></div>
            <% end -%>
          <% end %>
        </div>
      </div>
    </div>
    <hr />
  <% end %>
</div>
