<section>
  <div class="container">

  <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <div class="page-header">
        <%= image_tag('about.jpg', class:'img-rounded img-fluid') %>
        <br>
      </div>
    </div>
    <div class="col-md-8">

      <%= image_tag('logo.png') %>
      <hr>
      <h1>Welcome to Jobby Job Job!</h1>
      <p>
        My name is Will Wilimek. I created this site to
        aggregate remote developer jobs so I wouldn't have to use 4 different job
        boards when I'm looking for interesting jobs or projects. I also wanted
        to help people find job and use this project as an example of my experience
        working with Ruby/Rails since most of my code is owned by a company and
        can't be released.
      </p>
      
      <p>
         The site is currently hosted on heroku (free). It uses a postgres backend database and
          a scheduler job to populate jobs every hour from various job boards.
      </p>
     
      <p>
        If you want to check out more about me you can find my blog at <%= link_to 'wosnet.net', 'https://www.wosnet.net/' %>
      </p>
      
      <p>
        If you want to hack on this project with me you can check it out on <%= link_to 'GitHub.', 'https://github.com/willywos/jobbyjobjob' %> Pull requests welcome!
      </p>
      
      <p>
        <== This is me and my kids on vacation!
      </p>
      
      <p>
        Feel free to reach out if you have a feature or bug or just wanna work on this or wanna know how something here works. <%= link_to 'Contact Me', 'mailto:wwilimek@gmail.com' %>
      </p>
      
      <br><br>
      
    </div>
  </div>
</div>
</section>

