<%= content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="Subscribe to Jobby Job Job Feeds" href="<%= root_url(query: params[:query], page: params[:page], format: :rss) %>" />
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <%= image_tag('hero.png', class:'img-rounded img-responsive') %>
        <h4>Search for remote programming jobs across multiple job boards!</h4>
        <%= image_tag('companies.png', class:'img-responsive') %>
        <br>
      </div>
      <div class="job_pagination add_remote">
        <%= will_paginate @job_postings, params: {query: params[:query]} %>
      </div>
      <%= render partial:"root/job_postings", locals: { job_postings: @job_postings } %>
      <div class="job_pagination add_remote">
        <%= will_paginate @job_postings, params: {query: params[:query]} %>
      </div>
    </div>
    <div class="col-md-4 side_info">
      <div class="filtering_container hidden visible-md visible-lg">
        <div class="card ">
          <h5 class="card-header">Search</h5>
          <div class="card-body">

              <%= form_with url: root_path, id:'searchForm', class:'form-inline', method: :get do |form| %>
                <div class='form-group'>
                  <div class="input-group">
                    <%= form.text_field :query, class:'form-control', placeholder:'Search for...' %>
                  </div>
                </div>
                  <%= form.submit "Go!", class:"btn btn-primary" %>
                <% end %>
            </div>
        </div>
        <div class="card ">
          <h5 class="card-header">Quick Search</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="javascript:populateSearch('node')">Node</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('javascript')">JavaScript</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('react')">React</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('java')">Java</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('ruby')">Ruby</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('rails')">Rails</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('go')">Go</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('sql')">SQL</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('devops')">DevOps</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('full stack')">Full Stack</a>
                  </li>
                  <li>
                    <a href="javascript:populateSearch('front end')">Front End</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "javascript: toggleFilter();", class: "visible-xs visible-sm toggle_button btn btn-primary" do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
      <div class="card ">
        <h5 class="card-header">Jobby Job Job Status</h5>
        <div class="card-body">
          <strong>Last Refresh:</strong> <br>
          <% if JobPosting.last %>
              <%= local_time(JobPosting.last.created_at, format: '%B %e, %Y %l:%M%P') %>
          <% else %>
              <%= local_time(DateTime.now, format: '%B %e, %Y %l:%M%P') %>
          <% end %>
          <br><br>
          <strong>Total Number Of Jobs:</strong><br> <%= JobPosting.all.count %>
          <br><br>
          <%= content_tag :div, id: 'history-items-list' do %>
            <strong>Your View History:</strong>
            <ul class="list-unstyled mb-0">
              <% session[:viewed_post_history].each do |history| %>
                <li class="history-item" data-item-id="<%= history["id"] %>">
                  <%= link_to history["title"], "/post/" + history["id"].to_s, target: "_blank" %>
                  <%= link_to "", "/remove_history_item/" + history["id"].to_s, method: :delete, remote: true, class: 'fas fa-trash' %>
                </li>
              <% end %>
            </ul>
          <% end if session[:viewed_post_history] != nil && session[:viewed_post_history].length > 0 %>
          <strong>Subscribe & Share</strong> <br>
          <%= link_to "", root_url(page: params[:page], query: params[:query], format: :rss), class: "fas fa-rss" %>
          <%= link_to "{json.api}", root_url(page: params[:page], query: params[:query], format: :json) %>
        </div>
      </div>
    </div>

  </div>
</div>
