<%= content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="Subscribe to Jobby Job Job Feeds" href="<%= view_post_url(@posting, format: :rss) %>" />
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="job_posts">

          <div class="media">
            <div class="media-left">
              <% if @posting.logo.blank? %>
                <div class="card-img-top color-box" style="background:#<%= @posting.random_color %>;"><%= @posting.company_initials %></div>
              <% else %>
                <img class="card-img-top" src="<%= @posting.logo %>" alt="Card image cap">
              <% end %>
            </div>
            <div class="media-body">
              <div class="pull-right"><%= link_to 'Back', 'javascript:window.history.back()', class:'btn btn-primary' %></div>
              <h4 class="media-heading"><%= link_to @posting.title, @posting.url, target:"_blank" %> <br><small><%= link_to @posting.company, view_company_path(company_slug: @posting.company_slug) %> | <%= local_time(@posting.publish_date, '%B %e, %Y') %></small></h4>
              <hr>
              <div class="post-card">
                <div class="post-card-content">
                  <style type="text/css">
                    ul br {
                      display: none;
                    }
                    p {
                      margin-top: 0;
                      margin-bottom: 1em;
                    }

                  </style>
                  <span id="posting">
                  <%= auto_link(@posting.description_formatted_for_post.html_safe) %>
                  </span>
                </div>
                <div class="post-card-details">
                  <div class="center">
                    <%= link_to 'View Original Job Post', @posting.url, target:"_blank", class:'btn btn-primary' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
      </div>
    </div>
  </div>
</div>
