<tr id="resume_<%= resume.id %>">
  <td>
    <%= resume.name %>
  </td>
  <td>
    <%= local_time(resume.created_at, format: '%B %e, %Y %l:%M%P') %>
  </td>
  <td>
    <%= link_to edit_resume_path(resume) do %>
      <i class="glyphicon glyphicon-edit"></i>
    <% end %>

    <%= link_to download_json_resume_path(resume), class: "padding-left-5" do %>
      <i class="glyphicon glyphicon-download-alt"></i>
    <% end %>

    <%= link_to resume_path(resume), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete?"}, class: "padding-left-5" do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </td>
</tr>
