<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jobby Job Job</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
